.contenedorItem {
    text-align: center;
    border: 1px solid #e3e1e1;
    margin: 3rem;
    color: black;
    background-color: white;
    border-radius: .75rem;

}

.img {
    width: 25vw;
}

h2 {
    background-color: white;
    
}

    
    